/* 전역 스타일 */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.1);
}

/* 로그인 컨테이너 스타일 */
.login-container {
    display: flex;
    width: 100%;
    max-width: 600px; /* 적절한 최대 너비 설정 */
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* 로그인 폼 스타일 */
.login-form {
    padding: 20px;
    margin-right: 20px; /* 폼과 정보 섹션 사이의 간격 */
}

/* 정보 섹션 스타일 */
.login-info {
    padding: 20px;
}

.input-group label {
    display: block; /* 레이블을 블록 요소로 설정 */
    margin-bottom: 5px; /* 레이블과 입력 필드 사이의 간격 */
}

.input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-button {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #45a049;
}

.login-info ul {
    list-style-type: none;
    padding: 0;
}

.login-info li a {
    text-decoration: none;
    color: #007BFF;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
    .login-container {
        flex-direction: column; /* 좁은 화면에서는 항목을 수직적으로 배치 */
        align-items: center;
        width: 100%;
    }
    .login-form, .login-info {
        width: 100%;
        margin: 0;
        padding: 20px 0;
    }
}
